@font-face {
	font-family: BMYEONSUNG;
	src: url('./BMYEONSUNG.ttf');
	font-display: auto;
}

body {
	margin: 0;
	font-family: BMYEONSUNG;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: BMYEONSUNG;
}
